<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">
<!--    <resultMap id="UserMap" type="com.demo.pojo.User">-->
<!--        <id property="userId" column="userId" jdbcType="VARCHAR"/>-->
<!--        <result property="userName" column="userName" jdbcType="VARCHAR"/>-->
<!--        <result property="passWord" column="passWord" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

    <select id="getUser" resultType="com.demo.pojo.User">
        select * from user
    </select>

    <update id="updateUserById" parameterType="String">
        update user set userId = #{userId}, userName = #{userName}, passWord = #{passWord}
        where userId = #{userId}
    </update>

    <select id="login" parameterType="String"  resultType="com.demo.pojo.User">
        select * from user where userId = #{idOrName} or userName = #{idOrName} and passWord = #{passWord}
    </select>

    <insert id="register" parameterType="String">
        insert into user (userId, userName, passWord) values (
        #{userId}, #{userName}, #{passWord}
        )
    </insert>
</mapper>
